.rotor{
	width: 90px;
	height: 90px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
	vertical-align: middle;
	position: absolute;
}
.vector {
	background: rgb(214,214,214);
	background: -moz-linear-gradient(top, rgba(214,214,214,1) 0%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,214,214,1)), color-stop(100%,rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top, rgba(214,214,214,1) 0%,rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top, rgba(214,214,214,1) 0%,rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(214,214,214,1) 0%,rgba(242,242,242,1) 100%);
	background: linear-gradient(to bottom, rgba(214,214,214,1) 0%,rgba(242,242,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#f2f2f2',GradientType=0 );
	border-radius: 45px;
}
.vector .knop {
	width: 80px;
	height: 80px;
	text-align: center;
	vertical-align: middle;
	margin: 5px;
	background: url(/src/assets/rotor-default.png) no-repeat;
	background-size: 100% 100%;
}
.vector.success{
	background: rgb(219,240,67); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(219,240,67,1) 0%, rgba(210,230,56,1) 50%, rgba(230,240,163,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,240,67,1)), color-stop(50%,rgba(210,230,56,1)), color-stop(100%,rgba(230,240,163,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(219,240,67,1) 0%,rgba(210,230,56,1) 50%,rgba(230,240,163,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(219,240,67,1) 0%,rgba(210,230,56,1) 50%,rgba(230,240,163,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(219,240,67,1) 0%,rgba(210,230,56,1) 50%,rgba(230,240,163,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(219,240,67,1) 0%,rgba(210,230,56,1) 50%,rgba(230,240,163,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf043', endColorstr='#e6f0a3',GradientType=0 ); /* IE6-9 */
}
.rotor .tick-point{
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: #aaaaaa;
	position: absolute;
}
.rotor .ticker {
	width: 80px;
	height: 80px;
	padding: 22px;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.rotor .tick{
	width: 6px;
	height: 6px;
	border-radius: 3px;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #aaaaaa;
}
.rotor .tick.success{
	background-color: #00ff00;
}